#mountNode {
    color: #000;
}

#stars-frame .well {
    background-color: white;
}

#stars-frame, #answer-frame {
    width: 40%;
    float: left;
}

#stars-frame, .circle {
    display: inline-block;
    margin: 0.5em;
    background-color: #bbb;
    width: 30px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
}

#button-frame {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 90px;
}

#button-frame button{
    min-width: 50px;
    height: 50px;
    background-color: red;
}

#stars-frame .well, #answer-frame .well {
    height: 225px;
}

#numbers-frame{
    clear: both;
}

#numbers-frame .number, #answer-frame .well span {
    display: inline-block;
    margin: 0.5em;
    background-color: #bbb;
    width: 30px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
}

#numbers-frame .selected {
    background-color: green;
    color: #ddd;
    cursor: not-allowed;
}

#numbers-frame .used {
    background-color: blue;
    color: #99bb99;
    cursor: not-allowed;
}